@font-face {
	font-family: 'C&C Red Alert (LAN)';
	src: url('./assets/fonts/C&C Red Alert [LAN].ttf') format('truetype');
}

@font-face {
	font-family: 'C&C Red Alert (INET)';
	src: url('./assets/fonts/C&C Red Alert [INET].ttf') format('truetype');
}

body {
	font-family: 'C&C Red Alert (LAN)';
	background: #001522;
	color: white;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.poster img {
	height: 500px;
	/* margin-top: 10px; */
}

.favourite-list-songs {
	font-size: 24px;
}

.favourite-list-songs ul {
	list-style-type: none;
	padding: unset;
}

.favourite-list-songs ul li {
	margin: 20px 0;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-color: white;
	/* text-decoration: underline; */
}

.favourite-list-songs ul hr {
	margin: 0;
	opacity: 0.7;
}

.button-and-counter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-and-counter button {
	border: 1;
	border-color: white;
	border-radius: 20%;
	cursor: pointer;
	padding-top: 4px;
	padding-bottom: 2px;
	background: unset;
	margin-right: 20px;
}

.button-and-counter button:hover {
	opacity: 0.7;
}
